.hero {
    width: 100%;
    background-size: cover;
    position: relative;
    min-height: 60vh;
    padding: 160px 0 60px 0;
  }

  .section_bg {
    background-color: #eee;
}

.booking{
  border-radius: 3em !important;
}

.btn-watch-video{
  color: var(--color-primary);
  /* font-size: 32px; */
}

.buyNowButton{
  width: 10em;
  height: 3em;
}

.bannerText{
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}