:root {
    --color-default: #212529;
    --color-primary: #ce1212;
    --color-secondary: #37373f;
  }
  header{
    height: 5em;
  }

  .nav-item{
    position: relative;
  }
  
  .nav-item>a.active::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--color-primary);
    visibility: visible;
    width: 100%;
  }
  
  .nav-item>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--color-primary);
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .nav-item>a:hover::before {
    visibility: visible;
    width: 100%;
  } 
  
  .booking{
    border-radius: 3em !important;
  }