.testimonials {
    overflow: hidden;
    padding: 80px 0;
    scroll-margin-top: 90px;
    overflow: clip;
  }
  
  .stars i {
    color: #ffc107;
    margin: 0 1px;
  }

.carousel{
    height:17em;
}  

.carouselIndicator{
    width: 0.8em !important;
    height: 0.8em !important;
    background-color: var(--color-secondary) !important;
  }